* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main {
  padding: 2% 8%;
  background-color: #cce2c2;
  height: 100vh;
}

/* Home page */

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.quiz-img-home {
  width: 300px;
  margin-bottom: 5%;
}

.start-btn {
  padding: 8px 20px;
  font-size: 1.2rem;
  background-color: #35bd3a;
  border-radius: 5px;
  color: white;
  border: none;
  box-shadow: 3px 4px 5px #01ab08;
  cursor: pointer;
}

.best-score {
  margin-top: 80px;
  font-size: 1.1rem;
  font-weight: 500;
}

/* Quiz page */

.quiz-image {
  width: 150px;
}

.quiz-container {
  font-weight: 500;
}

.question-container {
  display: flex;
  flex-direction: column;
}

.question-no {
  width: 70px;
  margin-left: auto;
  text-align: center;
  padding: 6px 0;
  border-radius: 5px;
  background-color: #fec33d;
}

.question-box {
  padding: 18px;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 12px 0;
}

.timer {
  width: 80px;
  text-align: center;
  margin-left: auto;
  padding: 6px 0;
  border-radius: 5px;
  color: white;
  background-color: #35bd3a;
}

/* Answers container */

.answer-container {
  background-color: #f5f5f5;
  padding: 8px 18px;
  border-radius: 10px;
  margin: 20px 0;
}

.answer-list {
  list-style-type: none;
}

.answer-list li {
  border: 2px solid #d9d9d9;
  border-radius: 5px;
  padding: 10px;
  margin: 12px 0;
  cursor: pointer;
}

/* Correct / Wrong answer */
.answer-list li.correct {
  border: 3px solid #35bd3a;
}
.answer-list li.wrong {
  border: 3px solid #ff7a7a;
}

.next-btn {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 500;
  color: #01ab08;
  cursor: pointer;
  display: block;
  margin-left: auto;
  display: none;
}
.next-btn:hover {
  border-bottom: 1px solid #01ab08;
}

.next-btn.show {
  display: block;
}

/* Result page */

.result-main {
  text-align: center;
}

.quiz-img-result {
  width: 130px;
}

.heading h1 {
  font-size: 1.2rem;
  font-weight: 600;
}

.score-bar-container {
  display: flex;
  margin: auto;
  margin-top: 60px;
  width: 500px;
  height: 40px;
}
.score-bar-correct {
  width: 70%;
  height: 100%;
  background-color: #35bd3a;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.score-bar-wrong {
  width: 30%;
  height: 100%;
  background-color: #ff7a7a;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.final-score {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 8px;
}

.footer {
  margin-top: 10%;
}
.final-text {
  font-size: 1.2rem;
  font-weight: 500;
}
.retry-btn {
  margin-top: 20px;
  padding: 8px 35px;
  font-size: 1.1rem;
  background-color: #35bd3a;
  border-radius: 5px;
  color: white;
  border: none;
  box-shadow: 3px 4px 2px #01ab08;
  cursor: pointer;
}

/* Media Queries */

@media (max-width: 900px) {
  html {
    font-size: 12px;
  }
  .main {
    padding: 2% 4%;
  }
  .question-box {
    padding: 12px;
    margin: 8px 0;
  }
  .quiz-image {
    width: 100px;
  }
  .answer-container {
    padding: 6px;
  }
  .answer-list li {
    padding: 8px;
    margin: 10px;
  }
}
